body, html {
  height: 100%;
}


.App {
  background-image: url("https://i.imgur.com/lQ6Hgrc.jpg");
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  }

  h1 {
    text-align: center;
  }