body {
  margin: auto;
}

.App {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}


.recipe-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
